# Operation with SERIES

In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([10,20,30], index = [1,2,3])
s2 = pd.Series([35,44,53], index = [1,2,3])
display(s1)
display(s2)

1    10
2    20
3    30
dtype: int64

1    35
2    44
3    53
dtype: int64

Una de las cosas buenisimas que tiene pandas es que si se quiere operar con 2 series no es necesario utilizar un metodo iterativo.
Si uno escribe s1 + s2 pandas los que hace es primero alinear los indices de ambas series y luego realizar la operacion indicada entre los valores que tengan los mismos indices

In [4]:
s3 = s1 + s2
s3

1    45
2    64
3    83
dtype: int64

**Cuidado** porque tal como sucede cuando uno hace merge o join de dos dataframes, esta ventaja que ofrece Pandas tambien puede conducir a resultados inesperados. Algunas veces se pueden obtener NaN o puede explotar el numero de filas si es que en los indices hay algun numero faltante o algun dato repetido

In [7]:
s1 = pd.Series([10,20,30], index = [1,2,2])
s2 = pd.Series([35,44,53], index = [2,2,4])
display(s1)
display(s2)

1    10
2    20
2    30
dtype: int64

2    35
2    44
4    53
dtype: int64

In [8]:
s3 = s1 + s2
s3

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

Notar que en los indices 1 y 4 de s3 introujo NaN porque S1 no tenian ningun valor en el indice 4 y porque s2 no tenia ningun valor en el indice 1. Es decir que **se contagiaron los NaN de esas celdas**.
Por otro lado, notar que el indice 2 exploto y paso de 2 filas en cada serie, a 4 filas en la s3. Esto es porque cada fila con indice 2 de una serie la sumo a cada fila con indice 2 de la otra serie.

## `add()`
Una de las ventajas de utilizar el metodo `add()` en lugar del operador `+` es que uno puede especificar que valor asignar a las celdas que terminarian teniendo NaN.

In [9]:
# antes de realizar la operacion, se asigna un valor 0 a las celdas que tienen NaN
s3 = s1.add(s2, fill_value = 0)
s3

1    10.0
2    55.0
2    64.0
2    65.0
2    74.0
4    53.0
dtype: float64

## Excercises

### 1. Add a numeric series to itself

In [10]:
s1 = pd.Series([10,20,30,40,50], index = [1,2,3,4,5])
s1

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [11]:
s1 + s1

1     20
2     40
3     60
4     80
5    100
dtype: int64

### 2. Add 10 to a numeric series

In [12]:
s1 + 10

1    20
2    30
3    40
4    50
5    60
dtype: int64

### 3. Add a numeric series to itself using the `add()` method

In [13]:
s1.add(s1)

1     20
2     40
3     60
4     80
5    100
dtype: int64

<!-- pd.add -->

In [16]:
s1 = pd.Series([10,20,30,40,50], index = [1,2,3,4,5])
display(s1)
s2 = pd.Series([1,2,3,4,5], index = [1,2,3,4,5])
display(s2)

1    10
2    20
3    30
4    40
5    50
dtype: int64

1    1
2    2
3    3
4    4
5    5
dtype: int64